@charset "utf-8";

h1 {
    background-color: #fff;
    width: 300px;
    font-size: 300%;
}

p {
    background-color: #fff;
    width: 650px;
    font-size: 150%;
}

span {
    color: #f00;
}

body {
    background-image: url(IMG_20251218_220129.jpg);
    background-size: cover;
}